<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div  class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("IT-Service-Provider", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(MultiLanguage.Res.Resource.Home, "Index", "Home")</li>
                    <li>@Html.ActionLink(MultiLanguage.Res.Resource.Product, "Index", "Product")</li>
                    <li>@Html.ActionLink(MultiLanguage.Res.Resource.Account, "Index", "Account")</li>
                    <li>@Html.ActionLink(MultiLanguage.Res.Resource.Review, "Index", "Review")</li>
                    <li>@Html.ActionLink(MultiLanguage.Res.Resource.ShoppingList, "Index", "ShoppingList")</li>

                    <li>@Html.ActionLink("EN", "Change", "Home", new { LanguageAbbreviation = "en" }, null)</li>
                    <li>@Html.ActionLink("HU", "Change", "Home", new { LanguageAbbreviation = "hu" }, null)</li>
                    <li>@Html.ActionLink("RO", "Change", "Home", new { LanguageAbbreviation = "ro" }, null)</li>
                </ul> 
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
